body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1544084944-15269ec7b5a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80");
  background-size: cover;
  overflow: hidden;
}


.typewriter {
  text-align: center;
  color: rgb(218, 212, 207);
  position: absolute;
  margin-top: -400px;
 

}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  line-height: 20px;
  border-right: 2px solid rgb(246, 236, 236);
  animation: typing 15s steps(30) infinite, blink-caret 0.6s step-end infinite;
  margin: 0;
  font-size: 13px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  55% {
    border-color: rgb(147, 137, 137);
  }
}





h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 18px; 
  text-align: center;
  color: white;
}

.clock {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.clock div {
  margin: 5px;
}

.clock span {
  width: 100px;
  height: 80px;
  background: slateblue;
  opacity: 0.8;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text {
  height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: darkblue;
  opacity: 0.8;
}

.clock #ampm {
  bottom: 5px;
  position: absolute;
  width: 60px;
  height: 30px;
  background: green;
  font-size: 20px;
}


a{
  color:#eafa10;
  text-decoration: none;
}

/* Media Query for Small Screens */
@media screen and (max-width: 600px) {
  h2 {
    font-size: 17px;
    margin-right: 10px;
  }

  .clock span {
    font-size: 17px;
  }

  .clock .text {
    font-size: 8px;
  }

  .clock #ampm {
    font-size: 12px;
  }

  .clock {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-right: 40px;
  }
  
  .clock div {
    margin: 5px;
  }
  
  .clock span {
    width: 80px;
    height: 70px;
    background: slateblue;
    opacity: 0.8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .clock .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkblue;
    opacity: 0.8;
  
  }
  
  .clock #ampm {
    bottom: 5px;
    position: absolute;
    width: 40px;
    right : -29px;
    height: 28px;
    background: green;
    font-size: 17px;
    
  }
}
